h1	{color: #F08080}

h2	{color: #FFB6C1}

a	{color: green}
#nav	{margin: 25px 50px 75px 100px;border: 5px solid blue;}

#nav	a	{text-decoration: none;}

.recommended{
	font-family: Verdana;
	font-variant: small-caps;
	background-color: #c0c0c0;
	word-spacing: 10px
}